<link href="/stylesheets/footer.css" rel="stylesheet" type="text/css">

<div>
    <div class="footer-content">
        <h3>Foolish Developer</h3>
        <p>Raj Template is a blog website where you will find great tutorials on web design and development. Here each
            tutorial is beautifully described step by step with the required source code.</p>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="#">Foolish Developer</a> </p>
    </div>
</div>