<link href="/stylesheets/footer.css" rel="stylesheet" type="text/css">

<div>
    <div class="footer-content">
        <h3>MINI PROYECTO</h3>
        <p>una para pagina para juegos super buena para ps4 y ps5</p>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="https://github.com/jmarulandabotero">JUAN JOSE MARULANDA</a> </p>
    </div>
</div>
